*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    overflow-x: hidden; 
    background-color: #f3f1f1dc;
}
/* --------- */
aside h1 {
    font-size: 2rem;
    position: absolute;
    top: 245px;
    left: 63px;
}
.sidebar-main{
    border: 1px solid #b3b1b175;
    box-shadow: 0px 6px 16px #b6b6b65d;
    border-radius: 12px;
    margin-top: 20px;
    background-color: #dedede;
    height: 92vh;
    width: 83%;
    margin-left: 36px;
}
.img-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container-buttons_sidebar {
    width: 100%;
    height: 23rem;
    padding: 2rem;
    box-shadow: 0 2px 14px gray;
    border-radius: 8px;
    margin: 0 auto;
}
.container-buttons_sidebar button {
    width: 14rem;
    height: 4rem;
}
.content-close .btn-closeSesion {
    width: 14rem;
    height: 4rem;
}








.main-navbar {
    background-color: #ffffff;
    border: 1px solid #b3b1b175;
    height: 100px; 
    box-shadow: 0px 4px 12px #a8a6a650;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 26px;
    border-radius: 12px;
}

.main-content {
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    height: 780px;
    padding: 30px;
    border: 1px solid  #b3b1b175 ;
    box-shadow: 0px 6px 16px #b6b6b65d;
    overflow-y: auto;
    margin-right: 26px;
}
.info-user {
    width: 100%;
    background-color: rgb(222, 145, 145);
}
.info-user2 {
    width: 100%;
    background-color: rgb(176, 237, 176);
}