*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body { overflow-x: hidden; background-color: #3078e6; }
        

/* navbar */
#main-navbar {
    background-color: #ffffff;
    border: 1px solid #b3b1b175;
    height: 100px; 
    box-shadow: 0px 4px 12px #a8a6a650;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 26px;
    border-radius: 12px;
    justify-content: space-between;

}

.btn-filter {
    background-color: #3078e6; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    
    ;
}

.btn-filter:hover {
    background-color: #1b61ca; 
    transform: translateY(-2px); 
}

/* asidebar */


#sidebar-main{
    border: 1px solid #b3b1b175;
    box-shadow: 4px 8px 16px #b6b6b65d;
    border-radius: 12px;
    margin-top: 20px;
    background-color: #ffffff;
    height: 92vh;
    width: 83%;
    margin-left: 36px;

}
#sidebar-main img{
    border-radius: 55px;
    margin-left: 68px;
}
.content-img{
    padding-bottom: 45px;
    border-bottom:  2px solid #a8a8a823;
}
.content-btn-aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 80px;
    border-bottom:  2px solid #a8a8a823;
}

.btn-aside{
    margin-top: 25px;
    width: 90%;
    margin-left: 11px;
    
}

#main-content {
    background-color: #fffefeee;
    margin: 20px;   
    border-radius: 8px;
    height: 500px;
    padding: 30px;
    border: 1px solid  #b3b1b175 ;
    box-shadow: 0px 6px 16px #b6b6b65d;
    margin-right: 26px;
    display: flex;

}

.vacancies{
    width: 45%;
    height: 60vh;
    overflow-y: auto;
    scrollbar-width: none;
    border-right: 2px solid #a8a8a823;
    
    

}
.information{
    width: 55%;
    height: 60vh;
    overflow-y: auto;
    scrollbar-width: none;
    

}


/* information about card */

.vacante-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 6px 20px 30px rgba(0, 0, 0, 0.13);
    border: 1px solid #bdbdbd69;
    height: 100%;
    width: 100%;
}
.content-card{
    max-width: 85%;
    margin-bottom: 10px;margin-top: 10px;
    margin-left: 20px;
}
.vacante-card h5 {
    font-weight: 700;
    margin-top: 10px;
}       
.empresa {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 10px;
}
.descripcion {
    font-size: 14px;
    color: #444;
}

.vacante-card .info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}


/* information ringht  */

.detalle-card {
    background: #ffffff;
    border-radius: 18px;
    padding: 24px;
    border: 1px solid#e5e7eb;
    width: 80%;
    margin-left: 50px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.267);
    
}

.detalle-header h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.detalle-empresa {
    font-size: 15px;
    color: #6b7280;
    font-weight: 500;
}

.detalle-info {
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 6px;
}

.detalle-section {
    margin-top: 18px;
}

.detalle-section h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}
