*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

body article{
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);
   

}


body article h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 240px;
    font-size: 100px;
    width: 700px;
}



body article h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 10;
    top: 500px;
    left: 240px;
    font-size: 90px;
    width: 1250px;
}


body article button{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 10;
    top: 660px;
    left: 940px;
    font-size: 50px;
    width: 400px;
    height: 100px;
    border-radius: 20px;
}


body article button:hover{
    transform: scale(100px);
    transition: 1s;
    color: rgb(198, 195, 195);
    background-color: black;
}

body article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}