*{
    margin: 0;
    padding: 0;
}






/* section{
    background-image: url(../mult/imh.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    
  
} */

body{
    height: 100%;
}